.container{
    width: 1152px;
    margin: auto;
    border: 1px solid #000000;
    font: italic 18px Arial;
}
header {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: nowrap;
}
.foto {
    width: 278px;
    height: 220px;
    padding: 10px;
    margin: 0px;
}
.img {
    width: 58%;
    margin: auto;
    display: block;
}
.for-header {
    background-color: #E3E3E3;
    width: 854px;
    height: 240px;
}
h1, h3 {
    text-align: center;
}

h1 {
    padding-bottom: 25px;
}
.main-section {
    width: 1152px;
    background-color:greenyellow;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: nowrap;
}
.section-left {
    width: 298px;
    background-color: #E3E3E3;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
}
.section-right {
    width: 854px;
    background-color: #ffffff;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: center;
}
.text-header {
    text-align: right;
}
h2 {
    text-align: center;
    padding-bottom: 5px;
}
.for-address {
    background-color: #E3E3E3;
    max-width: 298px;
    height: 300px;
    margin-bottom: 0px;
}
li {
    padding: 20px;
}
.text {
    text-align: center;
;
}
.for-education {
    background-color: white;
    max-width: 298px;
    height: 500px;

}
.for-article {
    background-color: white;
    width: 670px;
    height: 200px;
    margin: 0px 0px 20px;
}
.for-aside {
    background-color: #E3E3E3;
    width: 184px;
    max-height: 240px;
    font-size: 12px;


}
.flex-article {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: nowrap;
    width: 854px;
    background-color: #ffffff;
}
.for-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.github_logo {
    width: 80px;
    height: auto;
}
.rsschool_logo {
    width: 80px;
    height:auto;
}
